@charset "UTF-8";
.top {
	border: 4px double black;
	background-color: #d6d6d6;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width:300px; 
	height:150px;
}

.inline {
	width:65px;
	display: inline-block;
}

body {
	
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}